<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive map of public transport in Warsaw</title>
    <meta http-equiv="refresh" content="10">
    
    <!-- Leaflet.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <style>
        #map {
            height: 1000px;
        }
    </style>
</head>
<body>
    <h1>Interactive map of public transport in Warsaw</h1>

    <!-- Dropdown to choose route number -->
    <form method="get" action="/">
        <label for="route">Select Route:</label>
        <select name="route" id="route" onchange="this.form.submit()">
            {% for route in routes %}
                <option value="{{ route }}" {% if route == selected_route %}selected{% endif %}>{{ route }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <script>
        // Initialize the map and set the initial view to Warsaw
        var map = L.map('map').setView([52.2298, 21.0118], 13);
        // Add OpenStreetMap tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Save the current map state (center and zoom) to localStorage
        function saveMapState() {
            var mapState = {
                center: map.getCenter(),
                zoom: map.getZoom()
            };
            localStorage.setItem('mapState', JSON.stringify(mapState));
        }

        // Restore the map state from localStorage
        function restoreMapState() {
            var savedState = localStorage.getItem('mapState');
            if (savedState) {
                var mapState = JSON.parse(savedState);
                map.setView(mapState.center, mapState.zoom);
            }
        }

        // Call restoreMapState after the page reload
        restoreMapState();

        // Add event listener to save the map state when the page is about to unload
        window.onbeforeunload = function () {
            saveMapState();
        };

        var stops_locations = {{ stops_locations | tojson }};  // Flask's tojson filter to pass the data as a JS object

        stops_locations.forEach(function(stop_location) {
            var lat = stop_location.Latitude;
            var lon = stop_location.Longitude;
            var label = stop_location.Label;

            var circle = L.circle([lat, lon], {
                color: 'blue',           
                fillColor: 'blue',     
                fillOpacity: 0.7,      
                radius: 20              
            }).addTo(map);

            // Bind a popup with the label to the circle
            circle.bindPopup(label);
        });


        var vehicle_locations = {{ vehicle_locations | tojson }};  // Flask's tojson filter to pass the data as a JS object

        vehicle_locations.forEach(function(vehicle_location) {
            var lat = vehicle_location.Latitude;
            var lon = vehicle_location.Longitude;
            var label = vehicle_location.Label;

            var circle = L.circleMarker([lat, lon], {
                color: 'black',         
                fillColor: 'black',      
                fillOpacity: 0.9,        
                radius: 15               
            }).addTo(map);

            // Bind a popup with the label to the circle
            circle.bindPopup(label);
        });
    </script>
</body>
</html>
